<nav class="navbar bg-neutral">
  <div class="flex-1">
    <a class="btn btn-ghost text-2xl hover:text-white" routerLink="/">
      SSG Countries
    </a>
  </div>
  <div class="flex-none">
    <a
      class="group btn btn-square btn-ghost"
      href="https://github.com/mukesh07-ai"
      target="_blank"
    >
      <img
        src="assets/logo-github.svg"
        alt="Github Logo"
        class="h-7 w-7 cursor-pointer opacity-60 transition-opacity group-hover:opacity-100"
      />
    </a>
  </div>
</nav>
<main class="w-full pt-8">
  <router-outlet></router-outlet>
</main>
